body {
    font-family: Copperplate, "Copperplate Gothic Light";
    margin: 0;
    padding: 0;
    line-height: 1.6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background-color: #fff;
}
section {
    font-size: 30px;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex:1;
    display: block;
}

footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
} 
