body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    min-height: 100vh;
}
header {
    background-color: #000000; 
    color: #fff;
    padding: 18px 20px;
}
header a{
    color: #ffffff;
    text-decoration: none;
    padding: 18px 20px;
    font-weight: bold;
}

.navbar {
    background-color: #252525;
    overflow: hidden;
}
.navbar a {
    text-decoration: none;
    float: left;
    font-size: 18px;
    color: #fff;
    padding: 26px 80px;
    font-weight: bold;
    text-align: center;
    
}

.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn {
    font-size: 18px;  
    border: none;
    outline: none;
    color: white;
    padding: 30px 80px;
    background-color: inherit;
    font-family: inherit;
    font-weight: bold;
}
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #4d4d4d;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: fit-content;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    float: none;
    color: black;
    text-decoration: none;
    display: block;
    text-align: center;
}
.dropdown-content a:hover {
    background-color: #dddddd;
}
.dropdown:hover .dropdown-content {
    display: block;
}
section {
    position: relative;
    margin: auto;
    text-align: center;
    background-color: #eacfb3;
}
footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
<<<<<<< Updated upstream
    bottom: 0;
    width: 100%;
    position: fixed;
=======
    width: 100%;
    height: auto;
    position: absolute;
>>>>>>> Stashed changes
}